

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    
    
    


}

.tinys {
    border: 1px solid black;
}

.blackout {
    background-color: black;

}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: ;

}


#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

